In [1]:
# IMPORTS
import numpy as np
import pandas as pd

import re
import requests

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

# for graphs
import matplotlib.pyplot as plt

In [2]:
## HW Q1

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

url = "https://stockanalysis.com/ipos/filings/"
response = requests.get(url, headers=headers)

ipo_filings = pd.read_html(response.text)
filings = ipo_filings[0]
filings

/tmp/ipykernel_96771/1669464139.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ipo_filings = pd.read_html(response.text)

,Filing Date,Symbol,Company Name,Price Range,Shares Offered
0,"May 3, 2024",TBN,Tamboran Resources Corporation,-,-
1,"Apr 29, 2024",HWEC,"HW Electro Co., Ltd.",$3.00,3750000
2,"Apr 29, 2024",DTSQ,DT Cloud Star Acquisition Corporation,$10.00,6000000
3,"Apr 26, 2024",EURK,Eureka Acquisition Corp,$10.00,5000000
4,"Apr 26, 2024",HDL,Super Hi International Holding Ltd.,-,-
...,...,...,...,...,...
319,"Jan 21, 2020",GOXS,"Goxus, Inc.",$8.00 - $10.00,1500000
320,"Jan 21, 2020",UTXO,"UTXO Acquisition, Inc.",$10.00,5000000
321,"Dec 9, 2019",LOHA,Loha Co. Ltd,$8.00 - $10.00,2500000
322,"Oct 4, 2019",ZGHB,China Eco-Materials Group Co. Limited,$4.00,4300000
323,"Dec 27, 2018",FBOX,Fit Boxx Holdings Limited,$5.00 - $6.50,2000000

In [3]:
filings['Filing Date'] = pd.to_datetime(filings['Filing Date'], format='mixed')
filings[filings['Shares Offered'].astype(str).str.find('-') >= 0]

,Filing Date,Symbol,Company Name,Price Range,Shares Offered
0,2024-05-03,TBN,Tamboran Resources Corporation,-,-
4,2024-04-26,HDL,Super Hi International Holding Ltd.,-,-
5,2024-04-22,DRJT,Derun Group Inc,$5.00,-
6,2024-04-16,JLJT,Jialiang Holdings Ltd,$5.00,-
7,2024-04-15,GAUZ,Gauzy Ltd.,-,-
...,...,...,...,...,...
299,2021-03-02,NSAL,"Navios South American Logistics, Inc.",-,-
313,2021-01-19,DECI,"Decipher Biosciences, Inc.",-,-
315,2020-09-08,GMWX,"GameWorks, Inc.",-,-
316,2020-09-04,SCIT,Sancai Holding Group Ltd.,-,-
318,2020-02-18,CAST,"FreeCast, Inc.",-,-

In [4]:
def extract_prices(input_string):
    """
    :params input_strings:
        1. replace '-' with NaN, if no price is specified
        2. return the original price, if only one number provided, e.g. $4.00
        3. return average of 2 price ranages, e.g. $8.00-$10.00
    """
    if input_string == '-': 
        return np.NaN
    else: 
        price_list = input_string.replace('$', '').split('-')
        float_price = [float(price) for price in price_list]
        return sum(float_price) / len(float_price)

filings['Avg_price'] = filings['Price Range'].apply(extract_prices)
filings

,Filing Date,Symbol,Company Name,Price Range,Shares Offered,Avg_price
0,2024-05-03,TBN,Tamboran Resources Corporation,-,-,NaN
1,2024-04-29,HWEC,"HW Electro Co., Ltd.",$3.00,3750000,3.00
2,2024-04-29,DTSQ,DT Cloud Star Acquisition Corporation,$10.00,6000000,10.00
3,2024-04-26,EURK,Eureka Acquisition Corp,$10.00,5000000,10.00
4,2024-04-26,HDL,Super Hi International Holding Ltd.,-,-,NaN
...,...,...,...,...,...,...
319,2020-01-21,GOXS,"Goxus, Inc.",$8.00 - $10.00,1500000,9.00
320,2020-01-21,UTXO,"UTXO Acquisition, Inc.",$10.00,5000000,10.00
321,2019-12-09,LOHA,Loha Co. Ltd,$8.00 - $10.00,2500000,9.00
322,2019-10-04,ZGHB,China Eco-Materials Group Co. Limited,$4.00,4300000,4.00
323,2018-12-27,FBOX,Fit Boxx Holdings Limited,$5.00 - $6.50,2000000,5.75

In [5]:
filings['Shares Offered'] = pd.to_numeric(filings['Shares Offered'], errors='coerce')
filings['Shares_offered_value'] = filings['Shares Offered'] * filings['Avg_price']
filings_2023Fri = filings[
    (filings['Filing Date'].dt.dayofweek == 4) & (filings['Filing Date'].dt.year == 2023)]
filings_2023Fri.shape

(32, 7)

In [6]:
### HW Q1 
filings_2023Fri['Shares_offered_value'].sum()

285700000.0

# 1) [Code Snippet 1] IPOs data from Web

* learn dataframes "stacking" (UNION ALL)
* learn about type casting
* generate new columns (simple and with function)

In [7]:
import pandas as pd
import requests

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3',
}

url = "https://stockanalysis.com/ipos/2023/"
response = requests.get(url, headers=headers)

ipo_dfs = pd.read_html(response.text)

/tmp/ipykernel_96771/4213396001.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ipo_dfs = pd.read_html(response.text)

In [8]:
ipos_2023 = ipo_dfs[0]
ipos_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      154 non-null    object
 1   Symbol        154 non-null    object
 2   Company Name  154 non-null    object
 3   IPO Price     154 non-null    object
 4   Current       154 non-null    object
 5   Return        154 non-null    object
dtypes: object(6)
memory usage: 7.3+ KB

In [9]:
url = "https://stockanalysis.com/ipos/2024/"
response = requests.get(url, headers=headers)

ipo_dfs = pd.read_html(response.text)

/tmp/ipykernel_96771/1522156903.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  ipo_dfs = pd.read_html(response.text)

In [10]:
ipos_2024 = ipo_dfs[0]
ipos_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      67 non-null     object
 1   Symbol        67 non-null     object
 2   Company Name  67 non-null     object
 3   IPO Price     67 non-null     object
 4   Current       67 non-null     object
 5   Return        67 non-null     object
dtypes: object(6)
memory usage: 3.3+ KB

In [11]:
# "stacking dataframes"
# pd.concat() is used to concatenate the DataFrames vertically.
# The ignore_index=True parameter ensures that the resulting DataFrame has a new index,
# ignoring the original indices of the input DataFrames.
# The stacked_df now contains the concatenated DataFrame.
stacked_ipos_df = pd.concat([ipos_2024, ipos_2023], ignore_index=True)

In [12]:
stacked_ipos_df.head(1)

      IPO Date Symbol         Company Name IPO Price Current Return
0  May 9, 2024   SVCO  Silvaco Group, Inc.    $19.00  $19.80  7.68%

In [13]:
# Need to convert everything to a proper type (date, str, int, float, etc.)
stacked_ipos_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IPO Date      221 non-null    object
 1   Symbol        221 non-null    object
 2   Company Name  221 non-null    object
 3   IPO Price     221 non-null    object
 4   Current       221 non-null    object
 5   Return        221 non-null    object
dtypes: object(6)
memory usage: 10.5+ KB

In [14]:
# convert to datetime
stacked_ipos_df['IPO Date'] = pd.to_datetime(stacked_ipos_df['IPO Date'], format='mixed')

In [15]:
## HW Q2

ipo_tickers = stacked_ipos_df[stacked_ipos_df['IPO Date'] < '2024-03-01']['Symbol']
# ipo_tickers.drop('RYZB', inplace=True)
len(ipo_tickers)

185

In [16]:
def calculate_X(df: pd.DataFrame): 
    """
    :params df: stock price table retrieved from Yahoo Finance,
    with columns of Open, High, Low, Close, Adj Close, Volume. 
    """
    # start_price = df.head(1)['Adj Close']
    start_date = df.index.min()
    try: 
        max_30_date = start_date + pd.offsets.BDay(30)
        end_date = df.loc[start_date: max_30_date, 'Adj Close'].idxmax()
    except ValueError:
        end_date = df.loc[start_date: df.index.max(), 'Adj Close'].idxmax()

    output_df = df.reset_index()
    X = output_df[output_df['Date'] == end_date].index
    return X

In [17]:
from collections import defaultdict
max_future_growth = defaultdict(int)

for ticker in ipo_tickers: 
    if ticker == 'RYZB': 
        continue
    elif ticker == 'PTHR': 
        ticker = 'HOVR'

    price_df = yf.download(tickers = ticker,
                    period = "max",
                    interval = "1d")
    
    max_future_growth[ticker] = calculate_X(price_df)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [18]:
len(max_future_growth)

184

In [19]:
### HW Q2 
print('75% Quantitle: ', np.percentile(np.array(list(max_future_growth.values())), 75))

75% Quantitle:  23.0

In [48]:
np.mean(list(max_future_growth.values()))

11.880434782608695

In [49]:
np.median(list(max_future_growth.values()))

11.0

In [55]:
count_zeros = 0
for i in max_future_growth.values(): 
    if i == 0: 
        count_zeros += 1
print(count_zeros)

43

In [20]:
ipo_tickers

36     SMXT
37     VHAI
38     DYCQ
39     CHRO
40     UMAC
       ...
216     QSG
217    CVKD
218    SKWD
219    ISRL
220    MGOL
Name: Symbol, Length: 185, dtype: object

In [21]:
price_df = yf.download(tickers='SMXT', period='max', interval='1d')
price_df.head(1)['Adj Close']

[*********************100%%**********************]  1 of 1 completed

Date
2024-02-27    8.0
Name: Adj Close, dtype: float64

In [22]:
price_df.index.min() + pd.offsets.BDay(30)

Timestamp('2024-04-09 00:00:00')

In [23]:
price_df.loc[price_df.index.min(): price_df.index.min() + pd.offsets.BDay(30), 'Adj Close'].idxmax()

Timestamp('2024-04-03 00:00:00')

In [24]:
price_df.loc[price_df.index.min(), 'Adj Close']

8.0

In [25]:
price_df.index.max()

Timestamp('2024-05-09 00:00:00')

In [26]:
## HW Q3

US_STOCKS = ['MSFT', 'AAPL', 'GOOG', 'NVDA', 'AMZN', 'META', 'BRK-B', 'LLY', 'AVGO','V', 'JPM']

EU_STOCKS = ['NVO','MC.PA', 'ASML', 'RMS.PA', 'OR.PA', 'SAP', 'ACN', 'TTE', 'SIE.DE','IDEXY','CDI.PA']

INDIA_STOCKS = ['RELIANCE.NS','TCS.NS','HDB','BHARTIARTL.NS','IBN','SBIN.NS','LICI.NS','INFY','ITC.NS','HINDUNILVR.NS','LT.NS']



NEW_US = ['TSLA','WMT','XOM','UNH','MA','PG','JNJ','MRK','HD','COST','ORCL']

NEW_EU = ['PRX.AS','CDI.PA','AIR.PA','SU.PA','ETN','SNY','BUD','DTE.DE','ALV.DE','MDT','AI.PA','EL.PA']

NEW_INDIA = ['BAJFINANCE.NS','MARUTI.NS','HCLTECH.NS','TATAMOTORS.NS','SUNPHARMA.NS','ONGC.NS','ADANIENT.NS','ADANIENT.NS','NTPC.NS','KOTAKBANK.NS','TITAN.NS']

In [27]:
largest = []
for ticker in (US_STOCKS + EU_STOCKS + INDIA_STOCKS):
    price_df = yf.download(tickers = ticker,
                    period = "11y",
                    interval = "1d")
    price_df['ticker'] = ticker
    price_df['ticker_category'] = 'LARGEST'
    price_df['growth_7d'] = price_df['Adj Close'] / price_df['Adj Close'].shift(7)

    largest.append(price_df)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [28]:
len(largest)

33

In [29]:
large = []
for ticker in (NEW_US + NEW_EU + NEW_INDIA):
    price_df = yf.download(tickers = ticker,
                    period = "11y",
                    interval = "1d")
    price_df['ticker'] = ticker
    price_df['ticker_category'] = 'LARGE'
    price_df['growth_7d'] = price_df['Adj Close'] / price_df['Adj Close'].shift(7)

    large.append(price_df)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [30]:
len(large)

34

In [31]:
comparison_df = pd.concat([pd.concat(large), pd.concat(largest)])
comparison_df = comparison_df[(comparison_df.index >= pd.Timestamp('2014-01-01')) & (
    comparison_df.index < pd.Timestamp('2024-01-01')
    )]
comparison_output = comparison_df.reset_index().groupby(['Date', 'ticker_category'])['growth_7d'].aggregate('mean')
comparison_output

Date        ticker_category
2014-01-01  LARGE              1.011684
            LARGEST            1.011797
2014-01-02  LARGE              1.002958
            LARGEST            1.006333
2014-01-03  LARGE              1.000875
                                 ...
2023-12-27  LARGEST            1.014155
2023-12-28  LARGE              0.998583
            LARGEST            1.008533
2023-12-29  LARGE              0.999313
            LARGEST            1.005337
Name: growth_7d, Length: 5190, dtype: float64

In [32]:
output_df = comparison_output.unstack(level='ticker_category')
len(output_df.index.unique())

2595

In [33]:
output_df

ticker_category     LARGE   LARGEST
Date
2014-01-01       1.011684  1.011797
2014-01-02       1.002958  1.006333
2014-01-03       1.000875  0.999152
2014-01-06       0.995983  0.994203
2014-01-07       0.991592  0.992509
...                   ...       ...
2023-12-22       1.003014  1.013788
2023-12-26       1.013505  1.014900
2023-12-27       1.002167  1.014155
2023-12-28       0.998583  1.008533
2023-12-29       0.999313  1.005337

[2595 rows x 2 columns]

In [34]:
### HW Q3

large_days = len(output_df[output_df['LARGE'] > output_df['LARGEST']])
num_days = len(output_df)

print(f'Percentage of LARGE GROUP outperforms LARGEST GROUP: {large_days/num_days*100}%. ')

Percentage of LARGE GROUP outperforms LARGEST GROUP: 47.4373795761079%.

In [35]:
## HW Q4
# 33 stocks from LARGEST STOCKS
pd.concat(largest)

,Open,High,Low,Close,Adj Close,Volume,ticker,ticker_category,growth_7d
Date,,,,,,,,,
2013-05-10,32.669998,32.720001,32.320000,32.689999,26.889845,36394900,MSFT,LARGEST,NaN
2013-05-13,32.610001,33.070000,32.549999,33.029999,27.169510,36027600,MSFT,LARGEST,NaN
2013-05-14,32.860001,33.529999,32.799999,33.529999,27.774202,56870100,MSFT,LARGEST,NaN
2013-05-15,33.450001,33.900002,33.430000,33.849998,28.039268,46303900,MSFT,LARGEST,NaN
2013-05-16,33.639999,34.150002,33.549999,34.080002,28.229799,59382900,MSFT,LARGEST,NaN
...,...,...,...,...,...,...,...,...,...
2024-05-03,3610.000000,3622.000000,3488.449951,3499.800049,3499.800049,4079696,LT.NS,LARGEST,0.969433
2024-05-06,3522.800049,3527.000000,3441.100098,3463.300049,3463.300049,2614667,LT.NS,LARGEST,0.952804
2024-05-07,3479.399902,3496.000000,3425.000000,3427.750000,3427.750000,3376013,LT.NS,LARGEST,0.938518
2024-05-08,3429.000000,3497.399902,3367.800049,3486.850098,3486.850098,4116670,LT.NS,LARGEST,0.967172
2024-05-09,3312.750000,3377.000000,3266.649902,3275.449951,3275.449951,12116639,LT.NS,LARGEST,0.901260

In [36]:
get_momentum_cii(pd.concat(largest).reset_index())

NameError: name 'get_momentum_cii' is not defined

In [ ]:
# https://stackoverflow.com/questions/49648391/how-to-install-ta-lib-in-google-colab
# Update (apr 2023): Colab is now Python 3.10
# there are some other (older) ways to install talib

url = 'https://anaconda.org/conda-forge/libta-lib/0.4.0/download/linux-64/libta-lib-0.4.0-h166bdaf_1.tar.bz2'
!curl -L $url | tar xj -C /usr/lib/x86_64-linux-gnu/ lib --strip-components=1
url = 'https://anaconda.org/conda-forge/ta-lib/0.4.19/download/linux-64/ta-lib-0.4.19-py310hde88566_4.tar.bz2'
!curl -L $url | tar xj -C /usr/local/lib/python3.10/dist-packages/ lib/python3.10/site-packages/talib --strip-components=3
import talib

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  4119    0  4119    0     0  15312      0 --:--:-- --:--:-- --:--:-- 15312
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0tar: libta_lib.so: Cannot create symlink to ‘libta_lib.so.0.0.0’: Permission denied
tar: libta_lib.so.0: Cannot create symlink to ‘libta_lib.so.0.0.0’: Permission denied
100  517k  100  517k    0     0   707k      0 --:--:-- --:--:-- --:--:-- 1286k
tar: libta_lib.so.0.0.0: Cannot open: Permission denied
tar: libta_lib.a: Cannot open: Permission denied
tar: Exiting with failure status due to previous errors
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  4111    0  4111    0     0  19032      0 --:--:-- --:--:-- --:--:-- 19032
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0tar: /usr/local/lib/python3.10/dist-packages: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
 88  392k   88  346k    0     0   507k      0 --:--:-- --:--:-- --:--:-- 1018k
curl: (23) Failed writing body (1661 != 16384)

ModuleNotFoundError: No module named 'talib'

In [37]:
import talib

def get_momentum_cii(df: pd.DataFrame) -> pd.DataFrame: 
    talib_momentum_cci = talib.CCI(df.High.values, df.Low.values, df.Close.values, timeperiod=14)
    momentum_df = pd.DataFrame({
        'Date': df.Date.values, 
        'Ticker': df.ticker, 
        'cii': talib_momentum_cci
        })
    return momentum_df

In [38]:
largest_df = pd.concat(largest)
largest_df = largest_df[(largest_df.index >= pd.Timestamp('2014-01-01')
                         ) & (largest_df.index < pd.Timestamp('2024-01-01')
    )]
largest_df_techInd = pd.DataFrame({'A': []})
gross_profit = 0
shares = 0
invest_cash = 1000

for ticker in (US_STOCKS + EU_STOCKS + INDIA_STOCKS):
    current_ticker_data = largest_df[largest_df.ticker.isin([ticker])]
    current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \
                                       current_ticker_data.Low.values, current_ticker_data.Close.values, timeperiod=14)
    
    for i in range(len(current_ticker_data) - 5): 
        row_today = current_ticker_data.iloc[i]
        row_future = current_ticker_data.iloc[i + 5]

        # check if CCI > 200 and it's on Friday
        if row_today['CCI'] > 200 and row_today.name.dayofweek == 4: 
            # buy shares with $1000
            shares = invest_cash / row_today['Adj Close']
            # hold for 5 trading days and sell
            gross_profit += ((shares * row_future['Adj Close']) - invest_cash)
            shares = 0
    
            # logging ticker and profit
            print(ticker, gross_profit)

    if largest_df_techInd.empty: 
        largest_df_techInd = current_ticker_data
    else: 
        largest_df_techInd = pd.concat([largest_df_techInd, current_ticker_data], ignore_index=False)

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

MSFT 13.190642219276924
MSFT 30.398396292187044
MSFT 46.90145147683779
MSFT 80.69578826661245
MSFT 76.3457785585241
MSFT -13.144078887087744
MSFT -9.624361306440505
MSFT -41.54883758880078
MSFT -10.524757735830917
MSFT -6.587358630578251
MSFT 9.400692531928257
MSFT 17.734781362638955
MSFT 31.792443540765134
MSFT 15.359961003433341
MSFT 56.653071056855765
MSFT 41.40790697772991
MSFT 49.137566961463676
MSFT 53.21747425761919
MSFT 64.25034957845764
AAPL 100.33803421467019
AAPL 90.12914690274124
AAPL 93.65603569683367
AAPL 111.38321828203846
AAPL 119.63584700046988
AAPL 127.31029683996371
AAPL 128.59804054713663
AAPL 150.61921393405964
AAPL 198.1708280018047
AAPL 201.68848887723072
AAPL 150.56315028957442

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

AAPL 148.63238915485283
AAPL 144.24614437041782
AAPL 116.61302278589903
GOOG 106.5565679564927
GOOG 123.18441434849501
GOOG 77.73226898741291
GOOG 4.3665351310999085
GOOG 16.916454957245378
GOOG -1.5873972515278183
GOOG 15.88164315898814
GOOG 26.400481815360536
GOOG 49.767923528550114
GOOG 70.39117593938886
GOOG 83.35142317706709
GOOG 84.57519308624342
GOOG 85.74087583544929

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

GOOG 40.619689388669826
GOOG 21.79022598287156
GOOG 36.19393592201777
GOOG 71.32958404117403
GOOG 116.5297359561896
GOOG 73.64986705796036
NVDA 129.48484213936285
NVDA 153.85400450216935
NVDA 98.38650049757814
NVDA 128.55505002595203
NVDA 210.30245971937154
NVDA 246.68394589196612
NVDA 234.31075866353729
NVDA 295.58169520325157
NVDA 289.41877126659926

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

NVDA 321.0603651017801
NVDA 360.580820630022
NVDA 304.3551791995761
NVDA 345.3268761507321
NVDA 351.1041564872935
NVDA 325.5922857532746
AMZN 315.2789371821343
AMZN 351.26975854862667
AMZN 365.9424133890574
AMZN 421.65003582214206
AMZN 371.7062106910938
AMZN 384.4182411890723
AMZN 429.274096156833

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

AMZN 451.04515116449136
AMZN 460.4941950594773
AMZN 487.0648541094333
AMZN 496.4722089959024
AMZN 506.37502265627893
AMZN 516.0485085511677
AMZN 496.1075482291019
AMZN 557.9882348634287
AMZN 527.5227757707979
AMZN 545.2145007296906
AMZN 580.3413475075824
AMZN 623.6907823783317
AMZN 615.4037715636358
AMZN 601.2863243950178
AMZN 566.5373421386294
AMZN 558.22607466542
AMZN 581.230655049233

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

META 563.9848694297312
META 552.3452973700189
META 573.193945690467
META 500.6513424058634
META 475.44388726504053
META 485.219928309019
META 543.4451945944666
META 524.9881629681925
META 488.5079833051335
META 422.1379393309136
META 390.7630876584426
META 388.4171437385313
BRK-B 375.64319597812244
BRK-B 380.9325271069763
BRK-B 383.7560313866179
BRK-B 378.67438208078545
BRK-B 387.8689532244874
BRK-B 400.2672933676463

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

BRK-B 408.17966156072964
BRK-B 411.53756076266325
LLY 428.7872086369608
LLY 395.4187774235231
LLY 385.5329491583144
LLY 335.4706548280601
LLY 342.01859072571244
LLY 289.6793126681521
LLY 277.9069657772743
LLY 238.43560751125347
LLY 250.44423769608443
LLY 261.8937360914639

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

LLY 193.30630658279927
LLY 190.6441412982706
LLY 238.56107002408385
LLY 220.1453679257678
AVGO 235.595528711189
AVGO 254.58186518031255
AVGO 328.8906340861821
AVGO 282.82871370368196
AVGO 272.53300569693556
AVGO 274.6485446370675
AVGO 245.87803200802318
AVGO 196.10184957142553
AVGO 174.82250662790307
AVGO 134.81039749470676
AVGO 153.70700244695797
AVGO 198.4833434360163
AVGO 212.2972242202011
AVGO 288.862214389487
AVGO 244.89888909220144

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

AVGO 261.06543579700565
AVGO 278.200270565438
AVGO 271.797040915774
AVGO 213.6490484286462
AVGO 214.12030485179503
AVGO 219.3127708277824
AVGO 213.65733046716855
AVGO 197.6316761242815
AVGO 169.29539005214008
AVGO 156.46204940503105
V 202.02380520166378
V 217.48286997474383
V 229.31250944852525
V 216.66167032613146
V 214.57021561477904

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

V 215.33834272089507
V 225.6866577588803
V 244.34137936716002
V 242.04785858654338
V 266.4335598508584
V 260.7733614972474
V 263.6368428196646
JPM 254.63676576715477
JPM 212.21260213552296
JPM 224.52355357020951

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

JPM 230.47296606174814
JPM 215.6916429034752
JPM 238.402849802814
JPM 253.13609639551748
JPM 266.2434481298568
JPM 210.6612669757642
JPM 226.4072159853789
JPM 239.45410199355138

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

NVO 319.61591392979767
NVO 337.9163923972226
NVO 357.0542004484596
NVO 361.26001081635945
NVO 366.0177523043292
NVO 339.87534399433696
NVO 336.29986057534313
NVO 347.8889457818251
NVO 353.9452269926245
NVO 365.90929311445166
NVO 395.0832752162439
NVO 380.19566529308065
NVO 365.62638176878215
NVO 411.09289590820856
NVO 375.76717661268606
NVO 378.6560104239752
NVO 446.9278278935185
NVO 470.9490477047575
NVO 413.6746916076313
MC.PA 440.95405730859466
MC.PA 422.4544821730665
MC.PA 416.3018141396029
MC.PA 451.57938138926295
MC.PA 462.16430590506616
MC.PA 454.0470000776337
MC.PA 440.98191083080826
MC.PA 457.5206496800174
MC.PA 441.6413745144009
MC.PA 437.5542782653082
MC.PA 390.78860891197576
MC.PA 374.6241492270782
MC.PA 366.0820389626356
MC.PA 371.6097467043393
MC.PA 360.9763364051986

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

MC.PA 364.7369487264448
MC.PA 375.4035768051026
MC.PA 364.07547059294154
MC.PA 325.7343949645615
MC.PA 335.03096218906194
MC.PA 312.6916805269891
MC.PA 325.27463710579354
ASML 319.14879022442256
ASML 329.05450472564655
ASML 302.81096707532606
ASML 279.4155046423731

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

ASML 257.9540157946818
ASML 292.9428701616258
ASML 316.62966472656854
ASML 282.6310139345429
ASML 311.6366488083728
ASML 372.05449103348917
ASML 401.4283081590503
RMS.PA 424.9695931266398
RMS.PA 370.84618034033804
RMS.PA 382.6285704121383
RMS.PA 404.9450826014854
RMS.PA 406.7041626665573
RMS.PA 390.10888212221585
RMS.PA 391.4618711674
RMS.PA 374.38461588533573

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

RMS.PA 373.01474515659663
RMS.PA 354.39444275954315
RMS.PA 350.4454072450832
RMS.PA 308.51934058202755
RMS.PA 265.845513824804
RMS.PA 276.3403011879052
RMS.PA 277.7027155316621
RMS.PA 315.0888939159497
OR.PA 327.87881021397993
OR.PA 313.0702082986296
OR.PA 269.57952881285735
OR.PA 280.943240070171

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

OR.PA 275.1405494947554
OR.PA 281.4888918944997
OR.PA 268.7710779551113
OR.PA 239.56827165914012
OR.PA 222.13269079436918
OR.PA 251.91507655548685
OR.PA 248.9438055401414
OR.PA 266.7250796617583
OR.PA 270.47363344087876
OR.PA 261.9769436412656
OR.PA 204.73037667009623

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

SAP 194.91339616235393
SAP 205.87756575012486
SAP 219.17389599176624
SAP 212.3287949071339
SAP 235.54593707170238
SAP 206.0152462587074
SAP 193.48920269631276
SAP 203.343741303466
ACN 228.88099807285585

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

ACN 227.25919166644655
ACN 239.04321839583906
ACN 231.72782073399003
ACN 243.91770322912032
ACN 249.2220080310434
ACN 263.371628445841
ACN 252.10335378214927
ACN 272.7465949698941
ACN 278.7503553430372
ACN 290.85116003362134
ACN 302.0580502653014
ACN 303.34017506318094
ACN 337.8883201307407
ACN 372.90697921125854
ACN 374.81387941557216
TTE 311.2930512674244
TTE 338.2969208863068

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \
/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

SIE.DE 350.8527614702532
SIE.DE 307.35350585801734
SIE.DE 323.7944713640808
SIE.DE 371.5760753111316
SIE.DE 300.04097620032087
SIE.DE 297.654185923873
SIE.DE 261.05781888669947
SIE.DE 240.3671103689535
SIE.DE 321.1175554893091
SIE.DE 301.71582892049014
IDEXY 292.45652099649806
IDEXY 314.6138211487439
IDEXY 319.5723474036116
IDEXY 324.6630079959899
IDEXY 343.14855528415603

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

IDEXY 406.93859154473614
IDEXY 405.8663416814335
IDEXY 390.7781955513457
IDEXY 431.8931201702288
CDI.PA 450.3162631261639

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

CDI.PA 417.9013060806749
CDI.PA 390.76793942069946
CDI.PA 382.76494658939487
CDI.PA 425.80352568970306
CDI.PA 407.5458963254788
CDI.PA 367.8338277911747
CDI.PA 352.62121917684
CDI.PA 360.17386941638256
CDI.PA 349.37472785232194
CDI.PA 304.7263492327588
CDI.PA 303.5716141531706
CDI.PA 288.14183402164554
RELIANCE.NS 307.4079195414055
RELIANCE.NS 284.57069455694443
RELIANCE.NS 263.892942807213
RELIANCE.NS 267.9565490673464
RELIANCE.NS 295.36313066961463
RELIANCE.NS 288.4803065717284
RELIANCE.NS 303.1999727254919
RELIANCE.NS 355.25373977215224
RELIANCE.NS 317.65094694070285
RELIANCE.NS 307.5623308834528
RELIANCE.NS 270.7289586690306
RELIANCE.NS 264.6721709852669

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

RELIANCE.NS 310.356716151617
RELIANCE.NS 286.8813488747361
RELIANCE.NS 308.11661288633775
TCS.NS 296.9899510209874
TCS.NS 376.0024722517809
TCS.NS 400.13497430633026

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

TCS.NS 410.4550303322079
TCS.NS 418.7481727964554
TCS.NS 379.6004132635743
TCS.NS 366.65239260287615
TCS.NS 357.0693827730697
HDB 375.0171770485857
HDB 429.35500371934097
HDB 514.2674420661016
HDB 507.2667169968655
HDB 480.3055124558332
HDB 468.24880303901614

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

HDB 445.1442432554501
HDB 483.6538672957648
HDB 554.103008326316
HDB 577.5982450119574
HDB 566.9094730654269
HDB 567.0687564901175
HDB 577.323511407082
BHARTIARTL.NS 573.5428636071672
BHARTIARTL.NS 508.97623667018365
BHARTIARTL.NS 485.47993374927296
BHARTIARTL.NS 448.49848459698876

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

BHARTIARTL.NS 602.7106972554537
BHARTIARTL.NS 589.0004681957821
BHARTIARTL.NS 594.4099761843722
BHARTIARTL.NS 570.5613305849312
BHARTIARTL.NS 572.1283365132739
BHARTIARTL.NS 620.5235037714082
BHARTIARTL.NS 625.8825444219692
BHARTIARTL.NS 650.2306346035903
BHARTIARTL.NS 623.8085886713169
BHARTIARTL.NS 616.8650450545633
BHARTIARTL.NS 639.5437284984212
BHARTIARTL.NS 668.0299080467264
IBN 672.4962889495525
IBN 724.2486558017852
IBN 694.4103489357477

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

IBN 680.5952895377992
IBN 675.2305448118881
IBN 700.459944562591
IBN 754.5597623040018
IBN 672.7091913286805
IBN 660.9700172691305
SBIN.NS 672.6658744207773
SBIN.NS 673.1128450752032
SBIN.NS 785.364339509682
SBIN.NS 777.3039493762088
SBIN.NS 759.9097990271569

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

SBIN.NS 738.2977049576583
SBIN.NS 731.1723585187749
SBIN.NS 774.7643427330986
SBIN.NS 693.5991212537283
SBIN.NS 727.5649976323707
SBIN.NS 727.6921109418399
SBIN.NS 698.2933085192985
SBIN.NS 711.3795805883751
SBIN.NS 712.9240648100275
SBIN.NS 739.2330463247812

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \
/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

LICI.NS 742.8933771242366
LICI.NS 803.9130712418603
INFY 799.0052045819701
INFY 829.1007594050301
INFY 855.3077010617648
INFY 820.0738638757656
INFY 826.624502382306
INFY 851.6007135890516
INFY 847.9309277422882
INFY 847.0538325819203
INFY 868.6501058457933
INFY 851.6101539238082
INFY 835.7845834390776
INFY 821.6072693429237
INFY 778.1799220430948
INFY 783.0004979520455
ITC.NS 794.1158013701365
ITC.NS 770.0700036753067
ITC.NS 757.3891557204221
ITC.NS 732.8959603859419
ITC.NS 732.0071485785631
ITC.NS 812.0211317083238
ITC.NS 803.7689675861966
ITC.NS 808.3963148808338
ITC.NS 807.2808483122611
ITC.NS 794.0762787501595
ITC.NS 786.3902277284769

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

ITC.NS 732.3421689176186
ITC.NS 747.9747602236962
ITC.NS 779.5559840717451
ITC.NS 763.5364425493069
ITC.NS 794.1323718921185
ITC.NS 894.2768547612577
ITC.NS 899.9842798501182
ITC.NS 881.5556399916246
ITC.NS 836.6988487742523
ITC.NS 835.25375580151
HINDUNILVR.NS 889.3402943913569
HINDUNILVR.NS 977.7625501593315
HINDUNILVR.NS 976.1797111347531
HINDUNILVR.NS 985.8536323329444

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

HINDUNILVR.NS 986.9669516683864
HINDUNILVR.NS 1007.8578203272527
HINDUNILVR.NS 1057.6596113702285
HINDUNILVR.NS 1043.865158885616
HINDUNILVR.NS 1066.2176038193898
HINDUNILVR.NS 1013.3280275755313
HINDUNILVR.NS 1003.9745360152333
HINDUNILVR.NS 1009.3435140043873
HINDUNILVR.NS 1004.4222914293404
HINDUNILVR.NS 1011.3026830975264
HINDUNILVR.NS 995.1733927923947
LT.NS 1070.2795692947486
LT.NS 1067.7214246681829
LT.NS 1058.0257870794267
LT.NS 1056.0120168276328
LT.NS 1090.1299507887397
LT.NS 1085.8254759981833

/tmp/ipykernel_96771/2159313173.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_ticker_data['CCI'] = talib.CCI(current_ticker_data.High.values, \

LT.NS 1072.7599022606878
LT.NS 1020.2245305381465
LT.NS 1018.6837128583743
LT.NS 1038.961593224889
LT.NS 1049.9905191554983
LT.NS 1039.4070855457796
LT.NS 1063.8827320910807
LT.NS 1066.277945400278
LT.NS 1125.1374425485465

In [39]:
largest_df_techInd = largest_df_techInd[(largest_df_techInd.index >= pd.Timestamp('2014-01-01')) & (
    largest_df_techInd.index < pd.Timestamp('2024-01-01')
    )]

gross_profit = 0
shares = 0
invest_cash = 1000

for i in range(len(largest_df_techInd) - 5): 
        row_today = largest_df_techInd.iloc[i]
        row_future = largest_df_techInd.iloc[i + 5]

        # check if CCI > 200 and it's on Friday
        if row_today['CCI'] > 200 and row_today.name.dayofweek == 4 \
            and row_future['ticker'] == row_today['ticker']: 
            # buy shares with $1000
            shares = invest_cash / row_today['Adj Close']
            # hold for 5 trading days and sell
            gross_profit += ((shares * row_future['Adj Close']) - invest_cash)
            shares = 0

            print(row_today['ticker'], gross_profit, row_future['ticker'])

MSFT 13.190642219276924 MSFT
MSFT 30.398396292187044 MSFT
MSFT 46.90145147683779 MSFT
MSFT 80.69578826661245 MSFT
MSFT 76.3457785585241 MSFT
MSFT -13.144078887087744 MSFT
MSFT -9.624361306440505 MSFT
MSFT -41.54883758880078 MSFT
MSFT -10.524757735830917 MSFT
MSFT -6.587358630578251 MSFT
MSFT 9.400692531928257 MSFT
MSFT 17.734781362638955 MSFT
MSFT 31.792443540765134 MSFT
MSFT 15.359961003433341 MSFT
MSFT 56.653071056855765 MSFT
MSFT 41.40790697772991 MSFT
MSFT 49.137566961463676 MSFT
MSFT 53.21747425761919 MSFT
MSFT 64.25034957845764 MSFT
AAPL 100.33803421467019 AAPL
AAPL 90.12914690274124 AAPL
AAPL 93.65603569683367 AAPL
AAPL 111.38321828203846 AAPL
AAPL 119.63584700046988 AAPL
AAPL 127.31029683996371 AAPL
AAPL 128.59804054713663 AAPL
AAPL 150.61921393405964 AAPL
AAPL 198.1708280018047 AAPL
AAPL 201.68848887723072 AAPL
AAPL 150.56315028957442 AAPL
AAPL 148.63238915485283 AAPL
AAPL 144.24614437041782 AAPL
AAPL 116.61302278589903 AAPL
GOOG 106.5565679564927 GOOG
GOOG 123.18441434849501 GOOG
GOOG 77.73226898741291 GOOG
GOOG 4.3665351310999085 GOOG
GOOG 16.916454957245378 GOOG
GOOG -1.5873972515278183 GOOG
GOOG 15.88164315898814 GOOG
GOOG 26.400481815360536 GOOG
GOOG 49.767923528550114 GOOG
GOOG 70.39117593938886 GOOG
GOOG 83.35142317706709 GOOG
GOOG 84.57519308624342 GOOG
GOOG 85.74087583544929 GOOG
GOOG 40.619689388669826 GOOG
GOOG 21.79022598287156 GOOG
GOOG 36.19393592201777 GOOG
GOOG 71.32958404117403 GOOG
GOOG 116.5297359561896 GOOG
GOOG 73.64986705796036 GOOG
NVDA 129.48484213936285 NVDA
NVDA 153.85400450216935 NVDA
NVDA 98.38650049757814 NVDA
NVDA 128.55505002595203 NVDA
NVDA 210.30245971937154 NVDA
NVDA 246.68394589196612 NVDA
NVDA 234.31075866353729 NVDA
NVDA 295.58169520325157 NVDA
NVDA 289.41877126659926 NVDA
NVDA 321.0603651017801 NVDA
NVDA 360.580820630022 NVDA
NVDA 304.3551791995761 NVDA
NVDA 345.3268761507321 NVDA
NVDA 351.1041564872935 NVDA
NVDA 325.5922857532746 NVDA
AMZN 315.2789371821343 AMZN
AMZN 351.26975854862667 AMZN
AMZN 365.9424133890574 AMZN
AMZN 421.65003582214206 AMZN
AMZN 371.7062106910938 AMZN
AMZN 384.4182411890723 AMZN
AMZN 429.274096156833 AMZN
AMZN 451.04515116449136 AMZN
AMZN 460.4941950594773 AMZN
AMZN 487.0648541094333 AMZN
AMZN 496.4722089959024 AMZN
AMZN 506.37502265627893 AMZN
AMZN 516.0485085511677 AMZN
AMZN 496.1075482291019 AMZN
AMZN 557.9882348634287 AMZN
AMZN 527.5227757707979 AMZN
AMZN 545.2145007296906 AMZN
AMZN 580.3413475075824 AMZN
AMZN 623.6907823783317 AMZN
AMZN 615.4037715636358 AMZN
AMZN 601.2863243950178 AMZN
AMZN 566.5373421386294 AMZN
AMZN 558.22607466542 AMZN
AMZN 581.230655049233 AMZN
META 563.9848694297312 META
META 552.3452973700189 META
META 573.193945690467 META
META 500.6513424058634 META
META 475.44388726504053 META
META 485.219928309019 META
META 543.4451945944666 META
META 524.9881629681925 META
META 488.5079833051335 META
META 422.1379393309136 META
META 390.7630876584426 META
META 388.4171437385313 META
BRK-B 375.64319597812244 BRK-B
BRK-B 380.9325271069763 BRK-B
BRK-B 383.7560313866179 BRK-B
BRK-B 378.67438208078545 BRK-B
BRK-B 387.8689532244874 BRK-B
BRK-B 400.2672933676463 BRK-B
BRK-B 408.17966156072964 BRK-B
BRK-B 411.53756076266325 BRK-B
LLY 428.7872086369608 LLY
LLY 395.4187774235231 LLY
LLY 385.5329491583144 LLY
LLY 335.4706548280601 LLY
LLY 342.01859072571244 LLY
LLY 289.6793126681521 LLY
LLY 277.9069657772743 LLY
LLY 238.43560751125347 LLY
LLY 250.44423769608443 LLY
LLY 261.8937360914639 LLY
LLY 193.30630658279927 LLY
LLY 190.6441412982706 LLY
LLY 238.56107002408385 LLY
LLY 220.1453679257678 LLY
AVGO 235.595528711189 AVGO
AVGO 254.58186518031255 AVGO
AVGO 328.8906340861821 AVGO
AVGO 282.82871370368196 AVGO
AVGO 272.53300569693556 AVGO
AVGO 274.6485446370675 AVGO
AVGO 245.87803200802318 AVGO
AVGO 196.10184957142553 AVGO
AVGO 174.82250662790307 AVGO
AVGO 134.81039749470676 AVGO
AVGO 153.70700244695797 AVGO
AVGO 198.4833434360163 AVGO
AVGO 212.2972242202011 AVGO
AVGO 288.862214389487 AVGO
AVGO 244.89888909220144 AVGO
AVGO 261.06543579700565 AVGO
AVGO 278.200270565438 AVGO
AVGO 271.797040915774 AVGO
AVGO 213.6490484286462 AVGO
AVGO 214.12030485179503 AVGO
AVGO 219.3127708277824 AVGO
AVGO 213.65733046716855 AVGO
AVGO 197.6316761242815 AVGO
AVGO 169.29539005214008 AVGO
AVGO 156.46204940503105 AVGO
V 202.02380520166378 V
V 217.48286997474383 V
V 229.31250944852525 V
V 216.66167032613146 V
V 214.57021561477904 V
V 215.33834272089507 V
V 225.6866577588803 V
V 244.34137936716002 V
V 242.04785858654338 V
V 266.4335598508584 V
V 260.7733614972474 V
V 263.6368428196646 V
JPM 254.63676576715477 JPM
JPM 212.21260213552296 JPM
JPM 224.52355357020951 JPM
JPM 230.47296606174814 JPM
JPM 215.6916429034752 JPM
JPM 238.402849802814 JPM
JPM 253.13609639551748 JPM
JPM 266.2434481298568 JPM
JPM 210.6612669757642 JPM
JPM 226.4072159853789 JPM
JPM 239.45410199355138 JPM
NVO 319.61591392979767 NVO
NVO 337.9163923972226 NVO
NVO 357.0542004484596 NVO
NVO 361.26001081635945 NVO
NVO 366.0177523043292 NVO
NVO 339.87534399433696 NVO
NVO 336.29986057534313 NVO
NVO 347.8889457818251 NVO
NVO 353.9452269926245 NVO
NVO 365.90929311445166 NVO
NVO 395.0832752162439 NVO
NVO 380.19566529308065 NVO
NVO 365.62638176878215 NVO
NVO 411.09289590820856 NVO
NVO 375.76717661268606 NVO
NVO 378.6560104239752 NVO
NVO 446.9278278935185 NVO
NVO 470.9490477047575 NVO
NVO 413.6746916076313 NVO
MC.PA 440.95405730859466 MC.PA
MC.PA 422.4544821730665 MC.PA
MC.PA 416.3018141396029 MC.PA
MC.PA 451.57938138926295 MC.PA
MC.PA 462.16430590506616 MC.PA
MC.PA 454.0470000776337 MC.PA
MC.PA 440.98191083080826 MC.PA
MC.PA 457.5206496800174 MC.PA
MC.PA 441.6413745144009 MC.PA
MC.PA 437.5542782653082 MC.PA
MC.PA 390.78860891197576 MC.PA
MC.PA 374.6241492270782 MC.PA
MC.PA 366.0820389626356 MC.PA
MC.PA 371.6097467043393 MC.PA
MC.PA 360.9763364051986 MC.PA
MC.PA 364.7369487264448 MC.PA
MC.PA 375.4035768051026 MC.PA
MC.PA 364.07547059294154 MC.PA
MC.PA 325.7343949645615 MC.PA
MC.PA 335.03096218906194 MC.PA
MC.PA 312.6916805269891 MC.PA
MC.PA 325.27463710579354 MC.PA
ASML 319.14879022442256 ASML
ASML 329.05450472564655 ASML
ASML 302.81096707532606 ASML
ASML 279.4155046423731 ASML
ASML 257.9540157946818 ASML
ASML 292.9428701616258 ASML
ASML 316.62966472656854 ASML
ASML 282.6310139345429 ASML
ASML 311.6366488083728 ASML
ASML 372.05449103348917 ASML
ASML 401.4283081590503 ASML
RMS.PA 424.9695931266398 RMS.PA
RMS.PA 370.84618034033804 RMS.PA
RMS.PA 382.6285704121383 RMS.PA
RMS.PA 404.9450826014854 RMS.PA
RMS.PA 406.7041626665573 RMS.PA
RMS.PA 390.10888212221585 RMS.PA
RMS.PA 391.4618711674 RMS.PA
RMS.PA 374.38461588533573 RMS.PA
RMS.PA 373.01474515659663 RMS.PA
RMS.PA 354.39444275954315 RMS.PA
RMS.PA 350.4454072450832 RMS.PA
RMS.PA 308.51934058202755 RMS.PA
RMS.PA 265.845513824804 RMS.PA
RMS.PA 276.3403011879052 RMS.PA
RMS.PA 277.7027155316621 RMS.PA
RMS.PA 315.0888939159497 RMS.PA
OR.PA 327.87881021397993 OR.PA
OR.PA 313.0702082986296 OR.PA
OR.PA 269.57952881285735 OR.PA
OR.PA 280.943240070171 OR.PA
OR.PA 275.1405494947554 OR.PA
OR.PA 281.4888918944997 OR.PA
OR.PA 268.7710779551113 OR.PA
OR.PA 239.56827165914012 OR.PA
OR.PA 222.13269079436918 OR.PA
OR.PA 251.91507655548685 OR.PA
OR.PA 248.9438055401414 OR.PA
OR.PA 266.7250796617583 OR.PA
OR.PA 270.47363344087876 OR.PA
OR.PA 261.9769436412656 OR.PA
OR.PA 204.73037667009623 OR.PA
SAP 194.91339616235393 SAP
SAP 205.87756575012486 SAP
SAP 219.17389599176624 SAP
SAP 212.3287949071339 SAP
SAP 235.54593707170238 SAP
SAP 206.0152462587074 SAP
SAP 193.48920269631276 SAP
SAP 203.343741303466 SAP
ACN 228.88099807285585 ACN
ACN 227.25919166644655 ACN
ACN 239.04321839583906 ACN
ACN 231.72782073399003 ACN
ACN 243.91770322912032 ACN
ACN 249.2220080310434 ACN
ACN 263.371628445841 ACN
ACN 252.10335378214927 ACN
ACN 272.7465949698941 ACN
ACN 278.7503553430372 ACN
ACN 290.85116003362134 ACN
ACN 302.0580502653014 ACN
ACN 303.34017506318094 ACN
ACN 337.8883201307407 ACN
ACN 372.90697921125854 ACN
ACN 374.81387941557216 ACN
TTE 311.2930512674244 TTE
TTE 338.2969208863068 TTE
SIE.DE 350.8527614702532 SIE.DE
SIE.DE 307.35350585801734 SIE.DE
SIE.DE 323.7944713640808 SIE.DE
SIE.DE 371.5760753111316 SIE.DE
SIE.DE 300.04097620032087 SIE.DE
SIE.DE 297.654185923873 SIE.DE
SIE.DE 261.05781888669947 SIE.DE
SIE.DE 240.3671103689535 SIE.DE
SIE.DE 321.1175554893091 SIE.DE
SIE.DE 301.71582892049014 SIE.DE
IDEXY 292.45652099649806 IDEXY
IDEXY 314.6138211487439 IDEXY
IDEXY 319.5723474036116 IDEXY
IDEXY 324.6630079959899 IDEXY
IDEXY 343.14855528415603 IDEXY
IDEXY 406.93859154473614 IDEXY
IDEXY 405.8663416814335 IDEXY
IDEXY 390.7781955513457 IDEXY
IDEXY 431.8931201702288 IDEXY
CDI.PA 450.3162631261639 CDI.PA
CDI.PA 417.9013060806749 CDI.PA
CDI.PA 390.76793942069946 CDI.PA
CDI.PA 382.76494658939487 CDI.PA
CDI.PA 425.80352568970306 CDI.PA
CDI.PA 407.5458963254788 CDI.PA
CDI.PA 367.8338277911747 CDI.PA
CDI.PA 352.62121917684 CDI.PA
CDI.PA 360.17386941638256 CDI.PA
CDI.PA 349.37472785232194 CDI.PA
CDI.PA 304.7263492327588 CDI.PA
CDI.PA 303.5716141531706 CDI.PA
CDI.PA 288.14183402164554 CDI.PA
RELIANCE.NS 307.4079195414055 RELIANCE.NS
RELIANCE.NS 284.57069455694443 RELIANCE.NS
RELIANCE.NS 263.892942807213 RELIANCE.NS
RELIANCE.NS 267.9565490673464 RELIANCE.NS
RELIANCE.NS 295.36313066961463 RELIANCE.NS
RELIANCE.NS 288.4803065717284 RELIANCE.NS
RELIANCE.NS 303.1999727254919 RELIANCE.NS
RELIANCE.NS 355.25373977215224 RELIANCE.NS
RELIANCE.NS 317.65094694070285 RELIANCE.NS
RELIANCE.NS 307.5623308834528 RELIANCE.NS
RELIANCE.NS 270.7289586690306 RELIANCE.NS
RELIANCE.NS 264.6721709852669 RELIANCE.NS
RELIANCE.NS 310.356716151617 RELIANCE.NS
RELIANCE.NS 286.8813488747361 RELIANCE.NS
RELIANCE.NS 308.11661288633775 RELIANCE.NS
TCS.NS 296.9899510209874 TCS.NS
TCS.NS 376.0024722517809 TCS.NS
TCS.NS 400.13497430633026 TCS.NS
TCS.NS 410.4550303322079 TCS.NS
TCS.NS 418.7481727964554 TCS.NS
TCS.NS 379.6004132635743 TCS.NS
TCS.NS 366.65239260287615 TCS.NS
TCS.NS 357.0693827730697 TCS.NS
HDB 375.0171770485857 HDB
HDB 429.35500371934097 HDB
HDB 514.2674420661016 HDB
HDB 507.2667169968655 HDB
HDB 480.3055124558332 HDB
HDB 468.24880303901614 HDB
HDB 445.1442432554501 HDB
HDB 483.6538672957648 HDB
HDB 554.103008326316 HDB
HDB 577.5982450119574 HDB
HDB 566.9094730654269 HDB
HDB 567.0687564901175 HDB
HDB 577.323511407082 HDB
BHARTIARTL.NS 573.5428636071672 BHARTIARTL.NS
BHARTIARTL.NS 508.97623667018365 BHARTIARTL.NS
BHARTIARTL.NS 485.47993374927296 BHARTIARTL.NS
BHARTIARTL.NS 448.49848459698876 BHARTIARTL.NS
BHARTIARTL.NS 602.7106972554537 BHARTIARTL.NS
BHARTIARTL.NS 589.0004681957821 BHARTIARTL.NS
BHARTIARTL.NS 594.4099761843722 BHARTIARTL.NS
BHARTIARTL.NS 570.5613305849312 BHARTIARTL.NS
BHARTIARTL.NS 572.1283365132739 BHARTIARTL.NS
BHARTIARTL.NS 620.5235037714082 BHARTIARTL.NS
BHARTIARTL.NS 625.8825444219692 BHARTIARTL.NS
BHARTIARTL.NS 650.2306346035903 BHARTIARTL.NS
BHARTIARTL.NS 623.8085886713169 BHARTIARTL.NS
BHARTIARTL.NS 616.8650450545633 BHARTIARTL.NS
BHARTIARTL.NS 639.5437284984212 BHARTIARTL.NS
BHARTIARTL.NS 668.0299080467264 BHARTIARTL.NS
IBN 672.4962889495525 IBN
IBN 724.2486558017852 IBN
IBN 694.4103489357477 IBN
IBN 680.5952895377992 IBN
IBN 675.2305448118881 IBN
IBN 700.459944562591 IBN
IBN 754.5597623040018 IBN
IBN 672.7091913286805 IBN
IBN 660.9700172691305 IBN
SBIN.NS 672.6658744207773 SBIN.NS
SBIN.NS 673.1128450752032 SBIN.NS
SBIN.NS 785.364339509682 SBIN.NS
SBIN.NS 777.3039493762088 SBIN.NS
SBIN.NS 759.9097990271569 SBIN.NS
SBIN.NS 738.2977049576583 SBIN.NS
SBIN.NS 731.1723585187749 SBIN.NS
SBIN.NS 774.7643427330986 SBIN.NS
SBIN.NS 693.5991212537283 SBIN.NS
SBIN.NS 727.5649976323707 SBIN.NS
SBIN.NS 727.6921109418399 SBIN.NS
SBIN.NS 698.2933085192985 SBIN.NS
SBIN.NS 711.3795805883751 SBIN.NS
SBIN.NS 712.9240648100275 SBIN.NS
SBIN.NS 739.2330463247812 SBIN.NS
LICI.NS 742.8933771242366 LICI.NS
LICI.NS 803.9130712418603 LICI.NS
INFY 799.0052045819701 INFY
INFY 829.1007594050301 INFY
INFY 855.3077010617648 INFY
INFY 820.0738638757656 INFY
INFY 826.624502382306 INFY
INFY 851.6007135890516 INFY
INFY 847.9309277422882 INFY
INFY 847.0538325819203 INFY
INFY 868.6501058457933 INFY
INFY 851.6101539238082 INFY
INFY 835.7845834390776 INFY
INFY 821.6072693429237 INFY
INFY 778.1799220430948 INFY
INFY 783.0004979520455 INFY
ITC.NS 794.1158013701365 ITC.NS
ITC.NS 770.0700036753067 ITC.NS
ITC.NS 757.3891557204221 ITC.NS
ITC.NS 732.8959603859419 ITC.NS
ITC.NS 732.0071485785631 ITC.NS
ITC.NS 812.0211317083238 ITC.NS
ITC.NS 803.7689675861966 ITC.NS
ITC.NS 808.3963148808338 ITC.NS
ITC.NS 807.2808483122611 ITC.NS
ITC.NS 794.0762787501595 ITC.NS
ITC.NS 786.3902277284769 ITC.NS
ITC.NS 732.3421689176186 ITC.NS
ITC.NS 747.9747602236962 ITC.NS
ITC.NS 779.5559840717451 ITC.NS
ITC.NS 763.5364425493069 ITC.NS
ITC.NS 794.1323718921185 ITC.NS
ITC.NS 894.2768547612577 ITC.NS
ITC.NS 899.9842798501182 ITC.NS
ITC.NS 881.5556399916246 ITC.NS
ITC.NS 836.6988487742523 ITC.NS
ITC.NS 835.25375580151 ITC.NS
HINDUNILVR.NS 889.3402943913569 HINDUNILVR.NS
HINDUNILVR.NS 977.7625501593315 HINDUNILVR.NS
HINDUNILVR.NS 976.1797111347531 HINDUNILVR.NS
HINDUNILVR.NS 985.8536323329444 HINDUNILVR.NS
HINDUNILVR.NS 986.9669516683864 HINDUNILVR.NS
HINDUNILVR.NS 1007.8578203272527 HINDUNILVR.NS
HINDUNILVR.NS 1057.6596113702285 HINDUNILVR.NS
HINDUNILVR.NS 1043.865158885616 HINDUNILVR.NS
HINDUNILVR.NS 1066.2176038193898 HINDUNILVR.NS
HINDUNILVR.NS 1013.3280275755313 HINDUNILVR.NS
HINDUNILVR.NS 1003.9745360152333 HINDUNILVR.NS
HINDUNILVR.NS 1009.3435140043873 HINDUNILVR.NS
HINDUNILVR.NS 1004.4222914293404 HINDUNILVR.NS
HINDUNILVR.NS 1011.3026830975264 HINDUNILVR.NS
HINDUNILVR.NS 995.1733927923947 HINDUNILVR.NS
LT.NS 1070.2795692947486 LT.NS
LT.NS 1067.7214246681829 LT.NS
LT.NS 1058.0257870794267 LT.NS
LT.NS 1056.0120168276328 LT.NS
LT.NS 1090.1299507887397 LT.NS
LT.NS 1085.8254759981833 LT.NS
LT.NS 1072.7599022606878 LT.NS
LT.NS 1020.2245305381465 LT.NS
LT.NS 1018.6837128583743 LT.NS
LT.NS 1038.961593224889 LT.NS
LT.NS 1049.9905191554983 LT.NS
LT.NS 1039.4070855457796 LT.NS
LT.NS 1063.8827320910807 LT.NS
LT.NS 1066.277945400278 LT.NS
LT.NS 1125.1374425485465 LT.NS

In [40]:
### HW Q4 
gross_profit

1125.1374425485465

In [41]:
largest_done_cii = largest_df_techInd[largest_df_techInd['CCI'] > 200]
largest_done_cii.groupby(largest_done_cii.index.year).count()

,Open,High,Low,Close,Adj Close,Volume,ticker,ticker_category,growth_7d,CCI
Date,,,,,,,,,,
2014,195,195,195,195,195,195,195,195,195,195
2015,195,195,195,195,195,195,195,195,195,195
2016,192,192,192,192,192,192,192,192,192,192
2017,300,300,300,300,300,300,300,300,300,300
2018,216,216,216,216,216,216,216,216,216,216
2019,234,234,234,234,234,234,234,234,234,234
2020,223,223,223,223,223,223,223,223,223,223
2021,211,211,211,211,211,211,211,211,211,211
2022,141,141,141,141,141,141,141,141,141,141
2023,266,266,266,266,266,266,266,266,266,266